@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #ccc;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center
}


.selection-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selection-button {
    font-size: 72px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 100ms;
    margin-bottom: 1.5rem;
}

.selection-button:hover {
    transform: scale(1.2);
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-title-container{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 24px;    
}

.result-table {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(autofit, minmax(100px, 1ft));
    grid-template-rows: repeat(autofit, minmax(100px, 1ft));
}

#playerIdentifier {
    padding: 10px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    font-weight:700;
    text-align: center;
    border: 2px solid black;
}

#computerIdentifier {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    font-weight: 700;
    text-align: center;
    border:2px solid black;
    padding: 10px;
}

#column1 {


}

#column2 {

}